
      body {
        background-color: gold;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        background-color: yellow;
        color: black;
      }
      th, td {
        text-align: left;
        padding: 8px;
      }
      th {
        background-color: yellow;
        color: black;
      }
    .division {
    border: 1px solid black;
    padding: 10px;
     }

   .division input {
   margin-bottom: 10px;
   }

