
      body {
        background-color: gold;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        background-color: yellow;
        color: black;
      }
      th, td {
        text-align: left;
        padding: 8px;
      }
      th {
        background-color: yellow;
        color: black;
      }

